.triCycleParent{
    .title{
        font-size: 22px;
        font-weight: 900;
    }
    .subTitle{
        font-size: 13px;
    }
    .colorBack{
        background-color: #e2e2e2;
        padding: 8%;
    }
    .headerDiv{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .headerDiv2{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .css-ffg8md-MuiNativeSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
        padding: 3.5px 14px;
    }
    .productTitle{
        font-size: 15px;
        padding-top: 6%;
    }
}