*{
    font-family: 'Poppins';
} 

.container{
    padding: 0% 3%;
}

.hrT{
  border-bottom: 1px solid #efefef;
  margin-top: 6px;
}

@media (max-width: 768px) {
  .navBarTop{
    margin-top: 14%;
  }
}